<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <title>Twitter</title>
    <link rel="icon" href="/static/img/icon.png"/>
</head>
<body>
    <h1 style="text-align: center; color: rgb(60, 115, 127);"> TWITTER</h1>
    {% block content %} {{ content }} {% endblock %}
</body>
</html>